body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon-col{
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  color: #212121;
}

.icon-col:hover{
  color: #333333;
  background-color: whitesmoke;
  cursor: pointer;
  text-decoration: none;
}

.landing-icon{
  text-align: center;
  font-size: 3em;
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50%, -50%;
}

.team-name{
  margin-top: 1em;
  border: 1px solid palevioletred;
  text-align: center;
}

.team-name:hover{
  background-color: rgba(252, 175, 201, 0.973);
  cursor: pointer;
}

.nameBox{
  border: 1px solid blue;
  border-radius: 5px;
  padding: 1em;
  background-color: rgb(123, 214, 218);
  font-weight: bold;
}

.nameBox:hover{
  background-color: rgb(141, 238, 243);
  cursor: pointer;
}